@using MyQuery.Contracts.Person;
@model PersonQueryViewModel

<div class="foliox_tm_section" id="about">
    <div class="foliox_tm_about" >
        <div class="container" >
            <div class="foliox_tm_main_title">
                <h3 style="color: var(--extra-color)">@Model.ShortDescription</h3>
            </div>
            <div class="wrapper">
                <div class="left">
                    <div class="big_image">
                        <img class="tilt-effect" src="~/Photos/@Model.PicturePath" alt="@Model.PictureAlt" />
                        <div class="small_image">
                            <div class="in">
                                <img src="~/Theme/img/thumbs/1-1.jpg" alt="" />
                                <div class="main tilt-effect" src="~/Photos/@Model.PicturePath" alt="@Model.PictureAlt"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <h3 class="title">درباره من</h3>
                    <p class="text">
                      @Model.Description
                    </p>
                  
                </div>
            </div>
            <div class="foliox_tm_button" style="text-align:center;margin-top:15px">
                <a href="~/Photos/Resume.jpg" download><span>دریافت فایل رزومه</span></a>
            </div>
        </div>
    </div>
</div>