<div class="foliox_tm_mobile_menu">
    <div class="mobile_menu_inner">
        <div class="mobile_in">
            <div class="logo">
                <span id="name_logo_mobile">مهدی سینایی</span>
            </div>
            <div class="trigger">
                <div class="hamburger hamburger--slider">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <div class="dropdown_inner">
            <ul class="anchor_nav">
                <li class="current"><a href="#home">خانه</a></li>
                <li><a href="#about">درباره من</a></li>
                <li><a href="#skill">مهارت ها</a></li>
                <li><a href="#service">خدمات</a></li>
                <li><a href="#contact">ارتباط با من</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="foliox_tm_header">
    <div class="container">
        <div class="inner">
            <div class="logo">
                <span id="name_logo">مهدی سینایی</span>
            </div>
            <div class="details">
                <div class="menu">
                    <ul class="anchor_nav">
                        <li class="current"><a href="#home">خانه</a></li>
                        <li><a href="#about">درباره من</a></li>
                        <li><a href="#skill">مهارت ها</a></li>
                        <li><a href="#service">خدمات</a></li>
                        <li><a href="#contact">ارتباط با من</a></li>
                    </ul>
                </div>
                <div class="social">
                    <ul>
                        <li><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-github fa-lg"></i> </a></li>
                        <li><a href="#"><i class="fa fa-telegram fa-lg"></i> </a></li>
                        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
