
<footer class="foliox_tm_section">
    <div class="foliox_tm_copyright">
        <div class="container">
            <h2 class="wow fadeInUp" data-wow-duration="1s">
                مهدی سینایی
            </h2>
            <br />
            <h5>برنامه نویس فول استک</h5>
            <br />
            <h6>©تمامی حقوق محفوظ است</h6>
        </div>
    </div>
</footer>