@page
@model MyPortfolio.Pages.LoginModel
@{
    ViewData["Title"] = "Login | ورود";
    Layout = "_LoginLayout";
}

<div class="form-wrap animate_animated animate__bounceIn animate__slow">
    <div id="next">
        <input type="submit" form="myform" value="Sign In >" />
        <input type="button" value="" id="dmodeBtn" />
    </div>

    @if (Model.LoginMessage != null)
    {
        <p class="alert alert-danger">@TempData["LoginMessage"]</p>
    }

    <h3>Sign In Your Website</h3>
    <form id="myform" method="post" asp-page-handler="Login">
        <label asp-for="Command.Username">Username</label>
        <input type="text" asp-for="Command.Username" class="user-inp" placeholder="Enter Username Or Email" />
        <span asp-validation-for="Command.Username" class="error"></span>
        <label asp-for="Command.Password">Password</label>
        <input type="password" asp-for="Command.Password" placeholder="Enter Your Password" />
        <span asp-validation-for="Command.Password" class="error"></span>
        <a asp-page="SignUp">Create New Account Now</a>
        <a href="#">Forgot Password?</a>
        <br />
        <a class="alert alert-danger">@TempData["LoginMessage"]</a>
    </form>
</div>