@page
@model MyPortfolio.Pages.LoginModel
@{
    ViewData["Title"] = "SignUp | ثبتنام";
    Layout = "_LoginLayout";
}

<div class="form-wrap animate_animated animate__bounceIn animate__slow">
    <div id="next">
        <input type="submit" value="Sign Up >" />
        <input type="button" value="" id="dmodeBtn" />
    </div>

    <h3>Sign Up For New Account</h3>
    <form action="#" method="post">
        <label for="username">FullName</label>
        <input type="text" name="FullName" class="user-inp" placeholder="Enter your FullName" />
        <label for="username">Username / Email</label>
        <input type="text" name="Password" class="user-inp" placeholder="Enter Username Or Email" />
        <label for="Mobile">Mobile</label>
        <input type="text" name="Mobile" class="user-inp" placeholder="Enter Your Phone Number" />
        <label for="Password">Password</label>
        <input type="text" name="Password" placeholder="Enter Your Password" />
        <label for="RePassword">RePassword</label>
        <input type="text" name="RePassword" placeholder="Enter Your Password Again" />
        <a asp-page="Login">Login To My Account</a>
    </form>
</div>