@page
@model MyPortfolio.Areas.Administration.Pages.Person.IndexModel
@{
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
				<h3 class="panel-title">نمایش اطلاعات</h3>
			</div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Command.FullName" class="control-label">نام و نام خانوادگی</label>
                                <input type="text" class="form-control" asp-for="Command.FullName" disabled>
                                <span asp-validation-for="Command.FullName" class="error" ></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Command.Mobile" class="control-label">شماره تماس</label>
                                <input type="text" class="form-control" asp-for="Command.Mobile" disabled>
                                <span asp-validation-for="Command.Mobile" class="error" ></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Command.Email" class="control-label">ایمیل</label>
                                <input class="form-control" asp-for="Command.Email"disabled >
                                <span asp-validation-for="Command.Email" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Command.PicturePath" class="control-label">عکس</label>
                                <img src="~/Photos/@Model.Command.PicturePath" style="width:50px;height:50px" />
                                <span asp-validation-for="Command.PicturePath" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label asp-for="Command.ShortDescription" class="control-label">توضیحات کوتاه</label>
                                <textarea class="form-control autogrow" asp-for="Command.ShortDescription" disabled></textarea>
                                <span asp-validation-for="Command.ShortDescription" class="error" ></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label asp-for="Command.Description" class="control-label">توضیحات</label>
                                <textarea class="form-control autogrow" asp-for="Command.Description"
                                          style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 115px;" disabled></textarea>
                                <span asp-validation-for="Command.Description" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label asp-for="Command.Address" class="control-label">آدرس</label>
                                <textarea class="form-control autogrow" asp-for="Command.Address"
                                          style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 30px;"
                                          disabled></textarea>
                                <span asp-validation-for="Command.Address" class="error" ></span>
                            </div>
                        </div>
                    </div>

                    <section>
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label asp-for="Command.Skills" class="control-label">مهارت ها</label>
                                <div>
                                    @foreach (var item in Model.Command.Skills)
                                    {
                                        <span class="btn btn-primary"> @item.Name </span>
                                    }
                                </div>
                            </div>
                        </div>
                    </section>

                    <a asp-page="./Edit" asp-route-Id="@Model.Command.Id" class="btn btn-dark waves-effect waves-light m-b-5">ویرایش</a>
                    <a asp-page="./Index" class="btn btn-dark waves-effect waves-light m-b-5">بازگشت</a>
                </form>
            </div>
        </div>
    </div>
</div>
