<div class="foliox_tm_section">
    <div class="foliox_tm_subscribe">
        <div class="container">
            <div class="inner tilt-effect">
                <div class="left wow fadeInLeft" data-wow-duration="1s">
                    <span class="subtitle">اکنون مشترک شوید</span>
                    <h3 class="title">دریافت خبرنامه من</h3>
                    <p class="text">آخرین اخبار، نکات و ترفندها را در صندوق ورودی ایمیل خود دریافت کنید</p>
                </div>
                <div class="right wow fadeInRight" data-wow-duration="1s">
                    <div class="field">
                        <input type="text" placeholder="آدرس ایمیل شما">
                        <input type="submit" value="ارسال" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
