@using MyQuery.Contracts.Person;
@model PersonQueryViewModel

<div class="foliox_tm_section" id="contact">
    <div class="foliox_tm_contact">
        <div class="container">
            <div class="foliox_tm_main_title">
                <span>ارتباط با من</span>
                <h3>دوست دارم نظرات شما را بشنوم</h3>
            </div>
            <div class="contact_inner">
                <div class="left wow fadeInLeft" data-wow-duration="1s">
                    <ul>
                        <li>
                            <div class="list_inner">
                                <div class="icon">
                                    <i class="icon-location"></i>
                                </div>
                                <div class="short">
                                    <h3>آدرس</h3>
                                    <span>@Model.Address</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list_inner">
                                <div class="icon">
                                    <i class="icon-mail-1"></i>
                                </div>
                                <div class="short">
                                    <h3>ایمیل</h3>
                                    <span>
                                        <a href="#">
                                            <span class="__cf_email__"
                                                  data-cfemail="066e636a6a6946626962692865696b">@Model.Email</span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list_inner">
                                <div class="icon tm4">
                                    <i class="icon-phone"></i>
                                </div>
                                <div class="short tm2">
                                    <h3 class="tm3">تلفن</h3>
                                    <span>@Model.Mobile</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="right wow fadeInRight" data-wow-duration="1s">
                    <div class="fields">
                        <form action="https://marketifythemes.net/" method="post" class="contact_form"
                              id="contact_form" autocomplete="off">
                            <div class="returnmessage"
                                 data-success="به زودی با شما تماس خواهیم گرفت"></div>
                            <div class="empty_notice"><span>لطفا فیلدهای مورد نیاز را پر کنید</span></div>
                            <div class="input_list">
                                <ul>
                                    <li><input id="name" type="text" placeholder="نام" /></li>
                                    <li><input id="email" type="text" placeholder="ایمیل" /></li>
                                    <li><input id="phone" type="number" placeholder="تلفن" /></li>
                                    <li><input id="subject" type="text" placeholder="موضوع" /></li>
                                </ul>
                            </div>
                            <div class="message_area">
                                <textarea id="message" placeholder="متن پیام"></textarea>
                            </div>
                            <div class="foliox_tm_button">
                                <a id="send_message" href="#"><span>ارسال</span></a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
