@using MyQuery.Contracts.Person;
@model PersonQueryViewModel

<div class="foliox_tm_section" id="home">
    <div class="foliox_tm_hero">
        <div class="container">
            <div class="content">
                <div class="left">
                    <h3 class="name">مهدی <span>سینایی</span></h3>
                    <p class="job">برنامه نویس فول استک</p>
                    <div class="foliox_tm_button">
                        <a class="anchor tm1" href="#contact"><span>بیایید با هم کار کنیم</span></a>
                    </div>
                </div>
                <div class="right">
                    <img class="tilt-effect" src="~/Photos/@Model.PicturePath" alt="@Model.PictureAlt" />
                </div>
            </div>
        </div>
    </div>
</div>