@using InformationManagement.Contracts.Person;
{
@inject IPersonAppliaction _application
}

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="pull-right">
                <img src="~/Photos/Admin/avatar-1.jpg" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">مهدی سینایی<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Profile<div class="ripple-wrapper"></div></a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li>
                        <li><a href="javascript:void(0)"><i class="md md-lock"></i> Lock screen</a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> Logout</a></li>
                    </ul>
                </div>

                <p class="text-muted m-0">مدیر سیستم</p>
            </div>
        </div>

        <div id="sidebar-menu">
            <ul>
                <li>
                    <a asp-page="/Index" class="waves-effect active"><i class="md md-home"></i><span> داشبورد </span></a>
                </li>
                <li class="has_sub">
                    <a class="waves-effect"><i class="md md-mail"></i><span> اطلاعات شخصی </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a asp-page="/Person/Index">مشاهده اطلاعات</a></li>

                        @if (_application.GetInformation != null)
                        {
                            <li><a asp-page="/Person/Edit">ویرایش اطلاعات</a></li>
                        }
                        else
                        {
                            <li><a asp-page="/Person/Create">افزودن اطلاعات</a></li>
                        }

                    </ul>
                </li>
                <li class="has_sub">
                    <a class="waves-effect"><i class="md md-mail"></i><span> مهارت ها </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a asp-page="/Skill/Index">لیست مهارت ها</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a class="waves-effect"><i class="md md-mail"></i><span>  مدیریت ادمین </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a asp-page="/Account/Index">اطلاعات ادمین</a></li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
